<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Directorio Contactos</a>
  </div>
</nav>

<div class="container">  
  <app-directorio></app-directorio>      
</div>

<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a><br>
    <a href="https://bootswatch.com/superhero/"> Bootswatch </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->