<div class="row">
    <div class="col mt-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="table-active">Name</th>
                    <th class="table-active">Phones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contacto of contactos; index as i;" class="">
                    <th scope="row">{{ contacto.name }}</th>
                    <div *ngFor="let telefono of contactos[i].telefonos" class="">
                        <p> {{ telefono.numero }}</p>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col mt-4">
        <div class="card">
            <div class="card-header">
                New Contacto
            </div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="createContacto()">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" formControlName="name" id="name" class="form-control">
                        <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                            <div *ngIf="f.name.errors.required">Name is required.</div>
                        </div>
                    </div>
                    <section>
                        <p>Telefonos</p>
                        <ul formArrayName="telefonos">                            
                            <div *ngFor="let item of form.get('telefonos')['controls']; let i = index" class="list-group">
                                <div class="input-group mb-3">
                                    <input type="text" formControlName="{{i}}" class="form-control">
                                    <div class="input-group-append">
                                        <button class="btn btn-danger" (click)="onRemovePhone(i)">
                                            x
                                        </button>
                                    </div>                                    
                                </div>
                                <div *ngIf="f.telefonos.touched && f.telefonos.invalid" class="alert alert-danger">
                                    <div *ngIf="f.telefonos.controls[i].errors.required">Phone is required.</div>
                                </div>
                            </div>
                        </ul>
                        <button class="btn btn-secondary float-right" (click)="onAddPhone()">
                            Add Phone
                        </button>
                    </section>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

</div>




<!--<div *ngFor="let contacto of contactos; index as i;">
   
    {{ contacto.name }}    
    <br>

    <div *ngFor="let telefono of contactos[i].telefonos">
        <p> {{ telefono.numero }}</p>
    </div>
    
    
</div> -->